/*

 ______   ______   ___   ___   ______   ___ __ __   ______      
/_____/\ /_____/\ /__/\ /__/\ /_____/\ /__//_//_/\ /_____/\     
\:::_:\ \\:::_ \ \\::\ \\  \ \\::::_\/_\::\| \| \ \\::::_\/_    
   /_\:\ \\:\ \ \ \\::\/_\ .\ \\:\/___/\\:.      \ \\:\/___/\   
   \::_:\ \\:\ \ \ \\:: ___::\ \\::___\/_\:.\-/\  \ \\::___\/_  
   /___\:\ '\:\_\ \ \\: \ \\::\ \\:\____/\\. \  \  \ \\:\____/\ 
   \______/  \_____\/ \__\/ \::\/ \_____\/ \__\/ \__\/ \_____\/ 
                                                                

---------------------------------------*/
body {
  margin: 0 auto;
  font: 1em/1.8em 'Droid Serif', serif;
  max-width: 50em;
  color: #333;
  background: url('../resources/debut_light.png'); }

.container {
  width: 90%;
  margin: 2em auto; }

p {
  margin: 0 0 1.74em 0;
  }

a {
  -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
     -o-transition:  opacity 0.2s ease;
        transition: opacity 0.2s ease;
  color: #00aeef; }

a:hover {
  opacity: 0.6;
}

h1 {
  margin: 0;
}

h1 img {
  width: 40%;
  margin: 0 0 -2em;
}

h2 {
  font-weight: normal;
  line-height: 1.3em;
  margin: 1.7em 0;
}

h3 {
  border-bottom: 1px solid #666;
  padding: 1em 0;
  margin-bottom: 1.5em;
}

ul li {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%; }

a img:hover {
  opacity: 0.6;
}

.footer {
  border-top: 1px solid #666;
  padding-top: 1em;
}

.hero {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 1em 0;
}

.social-icons {
  margin-top: 2em;
  text-align: center;
}

.social-icons img {
  -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
     -o-transition:  opacity 0.5s ease;
        transition: opacity 0.5s ease;
  height: 3em;
  width: 3em;
  display: inline-block;
  overflow: hidden;
  padding: 0 0.8em 1em;
  opacity: 0.3;
}

.social-icons img:hover {
  opacity: 0.7;
}

.hideme,
.social-icons span {
  text-indent: -99999px;
  overflow: hidden;
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
}

.profile-photo {
  float: right;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 9px #999;
  padding: 4px;
  background: white;
  margin: 0 0 1em 1em;
  width: 25%;
}

.tweet_avatar {
  float: right;
  margin: 5px 0 0 10px;
  padding: 3px;
  background: white;
  border: 1px solid #ddd;
}

.tweet_time {
  display: block;
}

.flickr a {
  padding: 6px;
  border: 1px solid #ddd;
  background: white;
  display: inline-block;
}


.latest-profile {
  border-top: 1px solid #666;
  margin-top: 1em;
  padding-top: 3em;
}

/* -- Begin grids
------------------------------------------------------------- */

/* -- Setup grids with base class -- */

.full-width-image img,
img.full-width-image {
  min-width: 100%;
  max-width: 100%;
}

.grid-wrap {
  margin-left: -3em;
  clear: both; }

 .grid-wrap:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.grid-col {
  float: left;
  padding-left: 3em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.gutter-bottom {
  padding-bottom: 3em;
}

.large-gutter {
  margin-left: -6em; }
  .large-gutter .grid-col {
    padding-left: 6em; }

.half-gutter {
  margin-left: -1.5em; }
  .half-gutter .grid-col {
    padding-left: 1.5em; }

.no-gutter {
  margin-left: 0; }
  .no-gutter .grid-col {
    padding-left: 0; }

.reset-gutter {
  margin-left: -3em; }
  .reset-gutter .grid-col {
    padding-left: 3em; }

ul.grid-wrap,
ol.grid-wrap {
  padding-left: 0;
  list-style: none; }

li.grid-col {
  margin-left: 0;
  margin-bottom: 0; }

.col-full,
.col-set-full .grid-col {
  width: 100%; }

.col-one-half,
.col-set-one-half .grid-col {
  width: 50%; }

.col-one-third,
.col-set-one-third .grid-col {
  width: 33.333%; }

.col-one-quarter,
.col-set-one-quarter .grid-col {
  width: 25%; }

.col-two-thirds {
  width: 66.666%; }

.col-three-quarters {
  width: 75%; }

/* -- Breakpoint (.bp1)
------------------------------------------------------------- */
@media only screen and (min-width: 35em) {

  .footer {
    text-align: center;
  }  

  .profile-photo {
   -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    -ms-transform:rotate(4deg);
     -o-transform:rotate(4deg);
        transform:rotate(4deg);

    width: auto;
    padding: 6px;
  }

  body {
    font-size: 1.1em }

  h1 {
    text-align: center;
  }

  h1 img {
    width: 20%;
    margin: 0 auto -2.4em;
  }

  h2 {
    text-align: center;
    line-height: 1.4em;
    font-size: 1.7em;
  }

  h3.section-title {
    text-align: center;
  }

  .isolated {
    max-width: 35em;
    margin: 0 auto;
    float: none;
  }

  .post {
    max-width: 40em;
    margin: 0 auto;
    float: none;
  }

  .smaller-text {
    font-size: 0.8em;
    line-height: 1.7em;
  }

  
  .social-icons  {
    text-align: center
  }

  .social-icons img {
    width: 2em;
    height: 2em;
  }

  p {
    text-shadow: 1px 0 1px #FFF }

  .bp1-col-full,
  .bp1-col-set-full .grid-col {
    width: 100%; }

  .bp1-col-one-half,
  .bp1-col-set-one-half .grid-col {
    width: 50%; }

  .bp1-col-one-third,
  .bp1-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp1-col-one-quarter,
  .bp1-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp1-col-two-thirds {
    width: 66.666%; }

  .bp1-col-three-quarters {
    width: 75%; } }
/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */
@media only screen and (min-width: 43em) {

  body {
    font-size: 1.2em }

  .bp2-col-full,
  .bp2-col-set-full .grid-col {
    width: 100%; }

  .bp2-col-one-half,
  .bp2-col-set-one-half .grid-col {
    width: 50%; }

  .bp2-col-one-third,
  .bp2-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp2-col-one-quarter,
  .bp2-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp2-col-two-thirds {
    width: 66.666%; }

  .bp2-col-three-quarters {
    width: 75%; } }

/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */
@media only screen and (min-width: 50em) {
  .bp3-col-full,
  .bp3-col-set-full .grid-col {
    width: 100%; }

  .bp3-col-one-half,
  .bp3-col-set-one-half .grid-col {
    width: 50%; }

  .bp3-col-one-third,
  .bp3-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp3-col-one-quarter,
  .bp3-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp3-col-one-fifth,
  .bp3-col-set-one-fifth .grid-col {
    width: 20%; }

  .bp3-col-two-thirds {
    width: 66.666%; }

  .bp3-col-three-quarters {
    width: 75%; } }
