/*

 ______   ______   ___   ___   ______   ___ __ __   ______      
/_____/\ /_____/\ /__/\ /__/\ /_____/\ /__//_//_/\ /_____/\     
\:::_:\ \\:::_ \ \\::\ \\  \ \\::::_\/_\::\| \| \ \\::::_\/_    
   /_\:\ \\:\ \ \ \\::\/_\ .\ \\:\/___/\\:.      \ \\:\/___/\   
   \::_:\ \\:\ \ \ \\:: ___::\ \\::___\/_\:.\-/\  \ \\::___\/_  
   /___\:\ '\:\_\ \ \\: \ \\::\ \\:\____/\\. \  \  \ \\:\____/\ 
   \______/  \_____\/ \__\/ \::\/ \_____\/ \__\/ \__\/ \_____\/ 
                                                                

---------------------------------------*/
body {
  margin: 0 auto;
  font: 18px/18px 'Merriweather', serif;
  font-weight: 100;
  max-width: 50em;
  color: #4a4a4a;
  background: #FCFCFC;
}

.container {
  width: 90%;
  margin: 24px auto; }

p, li {
  margin: 0 0 24px 0;
  line-height: 32px;
}

.home-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 28px;
  text-align: left;
  margin: 65px 0 0px;
  line-height: 1em;
}

.home-title.centered {
  text-align: center;
}

.home-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: none;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 0 70px;
}


a {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
  color: #2f6eab;
  box-shadow: 0 1px 0 #75A7D8;
  text-decoration: none;
}

a:hover {
  color: #14395d;
  box-shadow: 0 5px 0 #75A7D8;
}

h1 {
  margin: 0;
  text-align: left;
  font-size: 24px;
}

h1 a {
  color: #333;
  box-shadow: 0 0 0 white;
}

.header-line {
  border-bottom: 1px solid #CBCBCB;
  margin: 0 0 24px;
  padding: 0 0 24px 0;
  overflow: hidden
}

header h1 {
    float: left;
}

.header-sections {
    float: left;
    margin-top: 24px;
    clear: both;
}

.header-sections a {
    margin-right: 24px;
}

header a {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 900;
    color: #999;
    box-shadow: 0 0 0 white;
    font-family: 'Raleway', sans-serif;
}

header h1 a {
    color: #000;
}

header a.active {
    color: #75A7D8;
}

header a:hover {
    color: #75A7D8;
}

h2 {
  font-weight: normal;
  line-height: 1.3em;
  margin: 1.7em 0;
  font-family: 'Raleway', sans-serif;
}

h3 {
  border-bottom: 1px solid #CBCBCB;
  padding: 24px 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

ul li {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%; }

a img:hover {
  opacity: 0.6;
}

blockquote {
  border-left: 1px solid #666;
  margin: 0;
  padding: 0 0 0 1em;
  font-style: italic;
}

.footer {
  border-top: 1px solid #CBCBCB;
  padding: 20px
}

.footer p {
  text-align: center
}

.hero {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 1em 0;
}

.social-icons {
  margin-top: 2em;
  text-align: center;
}

.social-icons img {
  -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
     -o-transition:  opacity 0.5s ease;
        transition: opacity 0.5s ease;
  height: 3em;
  width: 3em;
  display: inline-block;
  overflow: hidden;
  padding: 0 0.8em 1em;
  opacity: 0.3;
}

.social-icons img:hover {
  opacity: 0.7;
}

.blog-archive {
    margin-top: 30px;
  }

.hideme,
.social-icons span {
  text-indent: -99999px;
  overflow: hidden;
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
}

.post {
  margin-top: 40px;
}

.small-blog-excerpt p {
  font-size: 16px;
  line-height: 28px;
}

.profile-photo {
  float: right;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 9px #999;
  padding: 4px;
  background: white;
  margin: 0 0 1em 1em;
  width: 25%;
}

.tweet_avatar {
  float: right;
  margin: 5px 0 0 10px;
  padding: 3px;
  background: white;
  border: 1px solid #ddd;
}

.tweet_time {
  display: block;
}

.flickr a {
  padding: 6px;
  border: 1px solid #ddd;
  background: white;
  display: inline-block;
}


.latest-profile {
  border-top: 1px solid #666;
  margin-top: 1em;
  padding-top: 3em;
}

a.before-and-after:hover > img {
  visibility: hidden;
}

a.before-and-after,
a.before-and-after:hover {
  opacity: 1;
  display: block;
  width: 100%;
}

 .isolated {
    padding: 40px 40px;
    background: #f0f2f2;
    margin-bottom: 40px;
    margin-top: 80px;
  }
 .isolated p {
    margin: 0
  }

.portfolio-item {
    clear: both;
    padding: 0 0 24px 0;
    overflow: hidden;
}

.portfolio-item .grid-col.break {
    clear: both;
}

.portfolio-small {
    font-size: 14px;
    display: block;
    line-height: 21px;
    margin-top: 8px;
}

.smaller-text {
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 10px 0
  }

@media only screen and (max-width: 600px) {
 .desktop-only { display: none }
}

@media only screen and (min-width: 601px) {
 .mobile-only { display: none }
}

/* -- Begin grids
------------------------------------------------------------- */

/* -- Setup grids with base class -- */

.full-width-image img,
img.full-width-image {
  min-width: 100%;
  max-width: 100%;
}

.grid-wrap {
  margin-left: -3em;
  clear: both; }

 .grid-wrap:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.grid-col {
  float: left;
  padding-left: 3em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.gutter-bottom {
  padding-bottom: 3em;
}

.large-gutter {
  margin-left: -6em; }
  .large-gutter .grid-col {
    padding-left: 6em; }

.half-gutter {
  margin-left: -1.5em; }
  .half-gutter .grid-col {
    padding-left: 1.5em; }

.no-gutter {
  margin-left: 0; }
  .no-gutter .grid-col {
    padding-left: 0; }

.reset-gutter {
  margin-left: -3em; }
  .reset-gutter .grid-col {
    padding-left: 3em; }

ul.grid-wrap,
ol.grid-wrap {
  padding-left: 0;
  list-style: none; }

li.grid-col {
  margin-left: 0;
  margin-bottom: 0; }

.col-full,
.col-set-full .grid-col {
  width: 100%; }

.col-one-half,
.col-set-one-half .grid-col {
  width: 50%; }

.col-one-third,
.col-set-one-third .grid-col {
  width: 33.333%; }

.col-one-quarter,
.col-set-one-quarter .grid-col {
  width: 25%; }

.col-two-thirds {
  width: 66.666%; }

.col-three-quarters {
  width: 75%; }

/* -- Breakpoint (.bp1)
------------------------------------------------------------- */
@media only screen and (min-width: 35em) {

blockquote {
  padding: 0 0 0 2em;
}

.portfolio-item {
    clear: both;
    padding: 24px 0;
    overflow: hidden;
}

.header-line {
  padding: 0 0 24px 0;
}

.header-sections {
    float: right;
    margin-top: 0;
    clear: none;
}

.header-sections a {
    margin-left: 1em;
    margin-right: 0
}

  .blog-archives {
    text-align: right;    
  }
 
  .home-title {
  font-weight: 100;
  font-size: 58px;
  text-align: left;
  margin: 125px 0 0px;
  line-height: 1em;
  }

  .home-subtitle {
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: none;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 0 70px;
}

  .profile-photo {
   -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    -ms-transform:rotate(4deg);
     -o-transform:rotate(4deg);
        transform:rotate(4deg);

    width: auto;
    padding: 6px;
  }

  body {
    font-size: 18px }


  h2 {
    text-align: center;
    line-height: 18px;
    font-size: 18px;
  }

  .blog-archive {
    margin-top: 60px;
  }

  .post {
    margin: 80px auto 0;
    float: none;
  }

  .social-icons  {
    text-align: center
  }

  .social-icons img {
    width: 2em;
    height: 2em;
  }

  .bp1-col-full,
  .bp1-col-set-full .grid-col {
    width: 100%; }

  .bp1-col-one-half,
  .bp1-col-set-one-half .grid-col {
    width: 50%; }

  .bp1-col-one-third,
  .bp1-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp1-col-one-quarter,
  .bp1-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp1-col-two-thirds {
    width: 66.666%; }

  .bp1-col-three-quarters {
    width: 75%; }

  #blog .grid-col:nth-child(2n+1) {
    clear: both;
  }

}

/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */
@media only screen and (min-width: 43em) {

  body {
    font-size: 18px;
    line-height: 28px;
     }

  .bp2-col-full,
  .bp2-col-set-full .grid-col {
    width: 100%; }

  .bp2-col-one-half,
  .bp2-col-set-one-half .grid-col {
    width: 50%; }

  .bp2-col-one-third,
  .bp2-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp2-col-one-quarter,
  .bp2-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp2-col-two-thirds {
    width: 66.666%; }

  .bp2-col-three-quarters {
    width: 75%; } }

/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */
@media only screen and (min-width: 50em) {
  .bp3-col-full,
  .bp3-col-set-full .grid-col {
    width: 100%; }

  .bp3-col-one-half,
  .bp3-col-set-one-half .grid-col {
    width: 50%; }

  .bp3-col-one-third,
  .bp3-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp3-col-one-quarter,
  .bp3-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp3-col-one-fifth,
  .bp3-col-set-one-fifth .grid-col {
    width: 20%; }

  .bp3-col-two-thirds {
    width: 66.666%; }

  .bp3-col-three-quarters {
    width: 75%; }


  }

