/*

 ______   ______   ___   ___   ______   ___ __ __   ______      
/_____/\ /_____/\ /__/\ /__/\ /_____/\ /__//_//_/\ /_____/\     
\:::_:\ \\:::_ \ \\::\ \\  \ \\::::_\/_\::\| \| \ \\::::_\/_    
   /_\:\ \\:\ \ \ \\::\/_\ .\ \\:\/___/\\:.      \ \\:\/___/\   
   \::_:\ \\:\ \ \ \\:: ___::\ \\::___\/_\:.\-/\  \ \\::___\/_  
   /___\:\ '\:\_\ \ \\: \ \\::\ \\:\____/\\. \  \  \ \\:\____/\ 
   \______/  \_____\/ \__\/ \::\/ \_____\/ \__\/ \__\/ \_____\/ 
                                                                

---------------------------------------*/
body {
  margin: 0 auto;
  font: 1em/1.8em 'Droid Serif', serif;
  max-width: 50em;
  color: #333;
  background: url('debut_light.png'); }

.container {
  width: 90%;
  margin: 2em auto; }

p {
  margin: 0 0 1.74em 0;
  }

a {
  color: #00aeef; }

h1 {
  margin: 0;
}

h1 img {
  width: 40%;
  margin: 0 0 -1em;
}

h2 {
  font-weight: normal;
  line-height: 1.3em;
  margin: 1.7em 0;
}

img {
  display: block;
  max-width: 100%; }

a img:hover {
  opacity: 0.6;
}

.footer {
  border-top: 1px solid #333;
  padding-top: 1em;
  margin-top: 2em;
}

.hero {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 4px -2px, inset 0 1px 4px -2px;
  padding: 1em 0;
}

.social-icons {
  text-align: center;
}

.social-icons img {
  display: inline-block;
  text-indent: -9999em;
  height: 3em;
  width: 3em;
  overflow: hidden;
  padding: 0 0.5em;
}

.social-icons span {
  text-indent: -99999px;
  overflow: hidden;
  width: 0;
  height: 0;
  display: inline-block;
}

.profile-photo {
  float: right;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 9px #999;
  padding: 4px;
  background: white;
  margin: 0 0 1em 1em;
  width: 25%;
}


/* -- Begin grids
------------------------------------------------------------- */

/* -- Setup grids with base class -- */
.grid-wrap {
  margin-left: -3em;
  overflow: hidden;
  clear: both; }

.grid-col {
  float: left;
  padding-left: 3em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.gutter-bottom {
  padding-bottom: 3em;
}

.large-gutter {
  margin-left: -6em; }
  .large-gutter .grid-col {
    padding-left: 6em; }

.half-gutter {
  margin-left: -1.5em; }
  .half-gutter .grid-col {
    padding-left: 1.5em; }

.no-gutter {
  margin-left: 0; }
  .no-gutter .grid-col {
    padding-left: 0; }

.reset-gutter {
  margin-left: -3em; }
  .reset-gutter .grid-col {
    padding-left: 3em; }

ul.grid-wrap,
ol.grid-wrap {
  padding-left: 0;
  list-style: none; }

li.grid-col {
  margin-left: 0;
  margin-bottom: 0; }

.col-full,
.col-set-full .grid-col {
  width: 100%; }

.col-one-half,
.col-set-one-half .grid-col {
  width: 50%; }

.col-one-third,
.col-set-one-third .grid-col {
  width: 33.333%; }

.col-one-quarter,
.col-set-one-quarter .grid-col {
  width: 25%; }

.col-two-thirds {
  width: 66.666%; }

.col-three-quarters {
  width: 75%; }

/* -- Breakpoint (.bp1)
------------------------------------------------------------- */
@media only screen and (min-width: 35em) {

  .profile-photo {
    -webkit-transition: -webkit-transform 0.5s ease;
    -webkit-transform: rotate(4deg);
    width: auto;
    padding: 6px;
  }

  .profile-photo:hover {
    -webkit-transform: rotate(0deg);
  }

  body {
    font-size: 1.1em }

  h1 {
    text-align: center;
  }

  h1 img {
    margin: 0 auto -2em;
  }


  h2 {
    text-align: center;
    line-height: 1.4em;
    font-size: 1.7em;
  }

  .isolated {
    max-width: 35em;
    margin: 0 auto;
    float: none;
  }

  p {
    text-shadow: 1px 0 1px #FFF }

  .bp1-col-full,
  .bp1-col-set-full .grid-col {
    width: 100%; }

  .bp1-col-one-half,
  .bp1-col-set-one-half .grid-col {
    width: 50%; }

  .bp1-col-one-third,
  .bp1-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp1-col-one-quarter,
  .bp1-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp1-col-two-thirds {
    width: 66.666%; }

  .bp1-col-three-quarters {
    width: 75%; } }
/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */
@media only screen and (min-width: 40em) {

  body {
    font-size: 1.2em }

  .bp2-col-full,
  .bp2-col-set-full .grid-col {
    width: 100%; }

  .bp2-col-one-half,
  .bp2-col-set-one-half .grid-col {
    width: 50%; }

  .bp2-col-one-third,
  .bp2-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp2-col-one-quarter,
  .bp2-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp2-col-two-thirds {
    width: 66.666%; }

  .bp2-col-three-quarters {
    width: 75%; } }
/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */
@media only screen and (min-width: 50em) {
  .bp3-col-full,
  .bp3-col-set-full .grid-col {
    width: 100%; }

  .bp3-col-one-half,
  .bp3-col-set-one-half .grid-col {
    width: 50%; }

  .bp3-col-one-third,
  .bp3-col-set-one-third .grid-col {
    width: 33.333%; }

  .bp3-col-one-quarter,
  .bp3-col-set-one-quarter .grid-col {
    width: 25%; }

  .bp3-col-two-thirds {
    width: 66.666%; }

  .bp3-col-three-quarters {
    width: 75%; } }
