<header class="grid-wrap">
  <div class="grid-col">
    <nav class="header-line">
      {% if page.url == "/index.html" %}
        <h1><a class="active" title="Back to homepage" href="/">palomoduarte.com</a></h1>
      {% else %}
        <h1><a title="Back to homepage" href="/">palomoduarte.com</a></h1>
      {% endif %}
      <div class="header-sections">
        {% if page.url contains "/portfolio/" %}
            <a class="active" href="/portfolio">portfolio</a>
        {% else %}
            <a href="/portfolio">portfolio</a>
        {% endif %}
        {% if page.url contains '/blog' %}
            <a class="active" href="/blog">blog</a>
        {% else %}
            <a href="/blog">blog</a>
        {% endif %}
    </div>
    </nav>
</div>
</header>
