<!DOCTYPE html>
<html>
    <head>



<!doctype html>
<!--[if lt IE 8]><html class="lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Portfolio and personal homepage of Ignacio Palomo Duarte">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="HCCNq224wUDwu2B7QUG12JXQKMC3Xh0FhPHgmnUfZ1Y" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!--[if lt IE 9]><link rel="stylesheet" href="css/ie.css"><![endif]-->
  <link rel="apple-touch-icon" href="../touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="../touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="../touch-icon-iphone-retina.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="../touch-icon-ipad-retina.png" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@boheme">
  <meta name="twitter:creator" content="@boheme">
  <meta name="twitter:title" content="Ignacio Palomo Duarte | Portfolio and personal homepage">
  <meta name="twitter:description" content="This is the homepage of Ignacio, a webdeveloper, UX and graphic designer working in ThoughtWorks - just come in and have a look at my portfolio or contact me.">
  <meta name="twitter:image" content="http://3oheme.com/website-screenshot.png">


  <script type="text/javascript">
  function trackOutboundLink(link, category, action) { 
     
     try { 
       _gaq.push(['_trackEvent', category , action]); 
     } catch(err){}
      
      setTimeout(function() {
        document.location.href = link.href;
      }, 100);
  }
  </script>

</head>


    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
