<!doctype html>
<!--[if lt IE 8]><html class="lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} – 3oheme.com</title>
  <meta name="description" content="{{ page.title }} - {{ page.excerpt }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="FlkNfywFY-VaRB_HnwFpYkMSWdRkM65RklK_Y6m1N-g" />

  <link type="text/plain" rel="author" href="http://3oheme.com/humans.txt" />
  <link rel="alternate" type="application/atom+xml" title="RSS" href="http://3oheme.com/feed.xml" />

  <!--[if lt IE 9]><link rel="stylesheet" href="css/ie.css"><![endif]-->
  <link rel="apple-touch-icon" href="/touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-iphone-retina.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/touch-icon-ipad-retina.png" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@boheme">
  <meta name="twitter:creator" content="@boheme">

  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ page.title }}"/>
  {% else %}
    <meta name="twitter:title" content="Ignacio Palomo Duarte | Portfolio and personal homepage">
    <meta property="og:site_name" content="Ignacio Palomo Duarte | Portfolio and personal homepage"/>
  {% endif %}

  {% if page.excerpt %}
    <meta name="twitter:description" content="{{ page.excerpt }}">
    <meta property="og:description" content="{{ page.excerpt }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}"> 
    <meta property="og:description" content="{{ site.description }}">
  {% endif %}

  <meta name="twitter:image" content="http://3oheme.com/website-screenshot.png">
  <meta name="google-site-verification" content="FlkNfywFY-VaRB_HnwFpYkMSWdRkM65RklK_Y6m1N-g" />
  <meta property="og:type" content="website" />

  <!-- Hotjar Tracking Code for 3oheme.com -->
  <script>
    (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:34737, hjsv:4};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-"+f._hjSettings.hjid+".js?sv="+f._hjSettings.hjsv;
        b.getElementsByTagName("head")[0].appendChild(c); 
    })(window,document);
  </script>

  <script async src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
  <div class="container">
  
    
    

                {{ content }}

    <div class="grid-wrap">
      <div class="grid-col">
          <div class="footer">
            <p>Ignacio Palomo-Duarte — Some rights reserved — 
            <a href="http://www.twitter.com/boheme" title="twitter one-hundred-and-forty-network" onClick="trackOutboundLink(this, 'Outbound Links', this.href); return false;">Twitter</a>
            <a href="http://uk.linkedin.com/in/ignaciopalomo" title="Linkedin professional network" onClick="trackOutboundLink(this, 'Outbound Links', this.href); return false;">Linkedin</a>
            <a href="http://www.github.com/3oheme" title="Some coding stuff" onClick="trackOutboundLink(this, 'Outbound Links', this.href); return false;">Github</a>
            <a href="http://www.flickr.com/3oheme" title="Photo gallery on Flickr" onClick="trackOutboundLink(this, 'Outbound Links', this.href); return false;">Flickr</a></p>
        </div>
      </div>
    </div>

  </div>


  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11435750-8']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</body>
</html>
  <script type="text/javascript">
  function trackOutboundLink(link, category, action) { 
     
     try { 
       _gaq.push(['_trackEvent', category , action]); 
     } catch(err){}
      
      setTimeout(function() {
        document.location.href = link.href;
      }, 100);
  }
  </script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/styles.css">
<script type="text/javascript" data-message="I'd like to use cookies to enhance your experience in the site. By continuing to visit this site you agree to our use of cookies" data-bg="#444444" id="cookiebanner"
    src="http://cookiebanner.eu/js/cookiebanner.min.js"></script>
