<!doctype html>
<!--[if lt IE 8]><html class="lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68241720-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-68241720-1', { 'anonymize_ip': true });
  </script>

  <meta charset="utf-8">
  <title>{{ page.title }} – palomoduarte.com</title>
  <meta name="description" content="{{ page.title }} - {{ page.excerpt }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="Lt3RBcZGVBUQaxfY-LkgJ1-XeI-d7vVyS70aUT7KBTg" />

  <link type="text/plain" rel="author" href="http://palomoduarte.com/humans.txt" />
  <link rel="alternate" type="application/atom+xml" title="RSS" href="http://palomoduarte.com/feed.xml" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@boheme">
  <meta name="twitter:creator" content="@boheme">

  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ page.title }}"/>
  {% else %}
    <meta name="twitter:title" content="Ignacio Palomo Duarte | Portfolio and personal homepage">
    <meta property="og:site_name" content="Ignacio Palomo Duarte | Portfolio and personal homepage"/>
  {% endif %}

  {% if page.excerpt %}
    <meta name="twitter:description" content="{{ page.excerpt }}">
    <meta property="og:description" content="{{ page.excerpt }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
  {% endif %}

  {% if page.metaimage %}
    <meta name="twitter:image" content="http://palomoduarte.com{{ page.metaimage }}">
    <meta property="og:image" content="http://palomoduarte.com{{ page.metaimage }}">
  {% else %}
    <meta name="twitter:image" content="http://palomoduarte.com/website-screenshot.png">
    <meta property="og:image" content="http://palomoduarte.com/website-screenshot.png">
  {% endif %}

  <meta name="google-site-verification" content="FlkNfywFY-VaRB_HnwFpYkMSWdRkM65RklK_Y6m1N-g" />
  <meta property="og:type" content="website" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Raleway:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>
  <div class="container">

                {{ content }}

    <div class="grid-wrap">
      <div class="grid-col">
          <div class="footer">
            <p>Ignacio Palomo-Duarte — Some rights reserved — 
            <a href="http://www.twitter.com/palomoduarte" title="twitter one-hundred-and-forty-network" onClick="trackOutboundLink(this, 'Outbound Links', this.href); return false;">Twitter</a>
            <a href="http://uk.linkedin.com/in/ignaciopalomo" title="Linkedin professional network" onClick="trackOutboundLink(this, 'Outbound Links', this.href); return false;">Linkedin</a>
            <a href="http://www.github.com/3oheme" title="Some coding stuff" onClick="trackOutboundLink(this, 'Outbound Links', this.href); return false;">Github</a>
            <a href="http://www.flickr.com/3oheme" title="Photo gallery on Flickr" onClick="trackOutboundLink(this, 'Outbound Links', this.href); return false;">Flickr</a></p>
        </div>
      </div>
    </div>

  </div>
</body>
</html>