<!doctype html>
<!--[if lt IE 8]><html class="lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/style.css" rel="stylesheet" type="text/css" media="all">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="ie.css">
	<![endif]-->
</head>
<body>

	<div class="strip">
    <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
  </div>
	
	<div class="container">
	
			{{ content }}
			
	</div>

</body>
</html>