---
layout: default
---

    {% include header.html %}

    <div class="grid-wrap">
      <div class="grid-col">
        <h2 class="home-title">{{ page.title }}</h2>
        <div class="post-creation-date">
            <span>{{ page.date | date_to_long_string }} – {{ page.date | date: "%R" }}</span>
        </div>
      </div>
    </div>


<div class="grid-wrap">
    <div class="grid-col post">
        
        
        {{ content }}
        
    </div>
</div>

<div class="grid-wrap">
    <div class="grid-col">
        <div class="isolated">
            
            <p>
                This is the personal website of Ignacio Palomo Duarte, Product Manager. If you're looking for my portfolio and more information just have a look at the <a href="/" title="Go back to the homepage">homepage</a>, and if you liked this article maybe you can share it on <a title="Share {{ page.title }} on Bluesky" href="https://bsky.app/intent/compose?text={{ page.title | uri_escape }} — http://palomoduarte.com{{ page.url }}">Bluesky</a>.</p>
        </div>
    </div>
</div>