---
layout: default
---

    {% include header.html %}

    <div class="grid-wrap">
      <div class="grid-col">
        <h2 class="home-title">{{ page.title }}</h2>
      </div>
    </div>


<div class="grid-wrap">
    <div class="grid-col post">
        
        {{ content }}
        
    </div>
</div>

<div class="grid-wrap">
    <div class="grid-col">
        <div class="isolated">
            
            <p>
                This is the personal blog of <a href="http://plus.google.com/106054710204445671158?rel=author" title="Google+ account of Ignacio Palomo">Ignacio Palomo Duarte</a>, a User experience consultant. If you're looking for portfolio and more information just have a look at the <a href="/" title="Go back to the homepage">homepage</a>, and if you like this article maybe you can consider sharing it on <a title="Share {{ page.title }} on twitter" href="http://twitter.com/intent/tweet?url=http://palomoduarte.com{{ page.url }}&text={{ page.title }}&via=palomoduarte">twitter</a>, <a title="Share {{ page.title }} on facebook" href="http://facebook.com/sharer.php?u=http://palomoduarte.com{{ page.url }}">facebook</a> or <a title="Share {{ page.title }} on Google+" href="https://plus.google.com/share?url=http%3A%2F%2Fpalomoduarte.com{{ page.url }}"> Google+</a>.</p>
        </div>
    </div>
</div>
